<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uni.pj.mapper.DynamicMapper">
    <select id="selectMyPage" resultType="com.uni.pj.vos.PageVo">
        SELECT d.id,d.title,d.image_url,d.like_count,u.username,u.avatar_url,a.islike
        from dynamic d
        join users u on d.user_id=u.id
        left join user_dynamic_actions a on a.dynamic_id = d.id and a.user_id = #{userId}
        <where>
            1=1
            <if test="pageDto.keyWord != null">
                and d.title like concat('%',#{pageDto.keyWord},'%')
            </if>
            <if test="pageDto.type != null">
                and d.type_id = #{pageDto.type}
            </if>
            <if test="pageDto.userId != null">
                and u.id = #{pageDto.userId}
            </if>
        </where>
        ORDER BY d.post_date
    </select>
</mapper>