<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uni.pj.mapper.UserFollowsMapper">

    <insert id="autoFollowBot" parameterType="java.lang.Integer">
        INSERT INTO user_follows(follower_id, following_id, follow_date)
        values (#{id}, 27,'2025-01-01 00:00:00')
    </insert>
</mapper>